body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.cabecalho {
    background-color: #B71C1C;
    color: white;
    text-align: center;
    padding: 20px;
}

.plantio, .beneficios {
    padding: 20px;
    text-align: center;
}

.plantio h2, .beneficios h2 {
    color: #B71C1C;
}

.imagem-plantio {
    width: 200px;
    margin-top: 10px;
}

.beneficios ul {
    list-style-type: none;
    padding: 0;
}

.beneficios li {
    background-color: #FFCDD2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.rodape {
    background-color: #B71C1C;
    color: white;
    text-align: center;
    padding: 10px;
}
